<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta property="og:title" content="Svitlana Orlova" />
  <meta property="og:locale" content="en_US" />
  <meta name="description" content="Profile Pages" />
  <meta property="og:description" content="Profile Pages" />
  <link rel="canonical" href="https://svitlana-orlova.github.io/" />
  <meta property="og:url" content="https://svitlana-orlova.github.io/" />
  <meta property="og:site_name" content="Svitlana Orlova" />
  <meta property="og:type" content="website" />
  <meta name="twitter:card" content="summary" />
  <meta property="twitter:title" content="Svitlana Orlova" />
  <script type="application/ld+json">
    {"@context":"https://schema.org","@type":"WebSite","description":"Profile Pages","headline":"Svitlana Orlova","name":"Svitlana Orlova","url":"https://svitlana-orlova.github.io/"}
  </script>
  <link rel="stylesheet" href="/assets/css/style.css?v=6f09dddc6fa83ecc9c2b6c7e902b94ce3ab5e026">

  <link rel="icon" href="{{ '/favicon.png' | relative_url }}" type="image/png">
  <link rel="apple-touch-icon" href="{{ '/apple-touch-icon.png' | relative_url }}" sizes="180x180">

  <title>{{ page.title }}</title>
</head>
<body>
  {{ content }}
      <script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/4.1.0/anchor.min.js" integrity="sha256-lZaRhKri35AyJSypXXs4o6OPFTbTmUoltBbDCbdzegg=" crossorigin="anonymous"></script>
    <script>anchors.add();</script>
</body>
</html>